In [1]:
import pandas as pd
import numpy as np

In [148]:
data=pd.read_csv('/home/siddhartha/Downloads/BANK_DATA/bank-full.csv')

In [79]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,42517.000000,42517.000000,42517.000000,42517.000000,42517.000000,42517.000000,42517.000000
mean,40.985935,1370.293718,15.721758,273.122539,2.553567,39.928264,0.566809
std,10.694132,3066.898008,8.320521,258.380805,2.562371,98.844225,2.252926
min,18.000000,-8019.000000,1.000000,41.000000,1.000000,-1.000000,0.000000
25%,33.000000,74.000000,8.000000,116.000000,1.000000,-1.000000,0.000000
50%,39.000000,453.000000,16.000000,192.000000,2.000000,-1.000000,0.000000
75%,48.000000,1438.000000,21.000000,332.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [22]:
list(data)

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [149]:
j={'management':0, 'technician':1, 'entrepreneur':2, 'blue-collar':3,'unknown':4, 'retired':5, 'admin.':6, 'services':7, 'self-employed':8,'unemployed':9, 'housemaid':10, 'student':11}
ms={'divorced':0,'married':1,'single':2,'unknown':3}
edu={'unknown':0,'primary':1,'secondary':2,'tertiary':3}
default={'no':0,'yes':1}
housing={'no':0,'yes':1}
loan={'no':0,'yes':1}
contact={'cellular':0,'telephone':1,'unknown':2}
month={'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12}
pout={'failure':0,'unknown':1,'success':2,'other':3}
y={'no':0,'yes':1}

In [80]:
data['job'].unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [150]:
data['job']=data['job'].apply(lambda x: j[x])
data['marital']=data['marital'].apply(lambda x: ms[x])
data['education']=data['education'].apply(lambda x: edu[x])
data['default']=data['default'].apply(lambda x: default[x])
data['housing']=data['housing'].apply(lambda x: housing[x])
data['loan']=data['loan'].apply(lambda x: loan[x])
data['contact']=data['contact'].apply(lambda x: contact[x])
data['month']=data['month'].apply(lambda x: month[x])
data['poutcome']=data['poutcome'].apply(lambda x: pout[x])
data['y']=data['y'].apply(lambda x: y[x])

In [151]:
data=data[(data['balance'] > 4)]

In [152]:
features=['age','job','marital','education','default','balance','housing','loan','contact','day','month','duration','campaign','pdays','previous','poutcome']

In [153]:
train, test=train_test_split(data, test_size=0.35, random_state=1212)

In [154]:
train_X=train[features]
train_Y=train.y
test_X=test[features]
test_Y=test.y

In [155]:
scaler = StandardScaler()
scaler.fit(train_X)  
train_X = scaler.transform(train_X)  
test_X = scaler.transform(test_X)

In [156]:
data.shape

(37307, 17)

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression# for Logistic Regression algorithm
from sklearn.cross_validation import train_test_split #to split the dataset for training and testing
from sklearn import metrics #for checking the model accuracy
from sklearn.tree import DecisionTreeClassifier #for using Decision Tree Algoithm
from sklearn.ensemble import RandomForestClassifier # A combine model of many decision trees
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier

/home/siddhartha/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [157]:
clf=MLPClassifier()
clf.fit(train_X,train_Y)
prediction=clf.predict(test_X)
metrics.accuracy_score(test_Y,prediction)

0.89653852044723537

In [52]:
np.bincount(prediction)

array([11163,  1497])

In [158]:
clf1=RandomForestClassifier()
clf1.fit(train_X,train_Y)
prediction=clf1.predict(test_X)
metrics.accuracy_score(test_Y,prediction)

0.89033542655843156