In [25]:
import pandas as pd
df=pd.read_csv('/home/siddhartha/Downloads/NY_TAXI.csv')

In [26]:
d={'N':0,'Y':1}
#Change the value of Y or N to 1 or 0
df=df.replace({"store_and_fwd_flag":d})

In [27]:
#Changing the date object to datetype.

df['tpep_pickup_datetime']=pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime']=pd.to_datetime(df['tpep_dropoff_datetime'])

In [28]:
#Calculating the time of journey in minutes.

from datetime import timedelta
df['time']=(df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime'])/timedelta(minutes=1)

In [29]:
#Importing the necessary algorithms for calculating the accuracy

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor

In [30]:
import numpy as np
df=df.replace(np.nan, 0)

In [31]:
train,test=train_test_split(df, test_size=0.28, random_state=1212)

In [32]:
df['col1']=df['total_amount']/df['trip_distance']

In [33]:
df['col1']

0             4.636364
1             8.055556
2             6.636364
3             7.727273
4          2640.000000
5            10.600000
6             3.607742
7            10.937500
8             9.222222
9             4.715909
10            4.551358
11            4.916667
12            5.579365
13           11.500000
14            5.555556
15            6.369231
16            4.188235
17           14.615385
18            6.959064
19            3.681818
20           10.600000
21            8.791667
22            6.352941
23            3.264151
24           21.500000
25            4.754274
26            5.947368
27            8.238095
28            5.381818
29                 inf
              ...
5014856       9.000000
5014857       7.800000
5014858       7.699387
5014859       7.560976
5014860       8.800000
5014861       6.614634
5014862      21.500000
5014863      11.848101
5014864       7.516129
5014865       5.963855
5014866      11.607143
5014867       6.555556
5014868       9.088757
5014869       6.341463
5014870       8.115385
5014871      11.117647
5014872       5.782609
5014873       9.437500
5014874       7.545455
5014875       7.153846
5014876       7.385892
5014877      11.307692
5014878       8.287938
5014879      11.722222
5014880      12.571429
5014881       6.290909
5014882            inf
5014883           -inf
5014884       6.500000
5014885            NaN
Name: col1, Length: 5014886, dtype: float64

In [34]:
df=df.replace(np.nan,0)

In [35]:
df=df[(df['col1'] > 3.000000) & (df['col1'] < 22.000000)]

In [36]:
df.shape

(4903387, 19)

In [37]:
df['col2']=df['trip_distance']/df['time']

In [38]:
df['col2']

0          0.268657
1          0.252336
2          0.293333
3          0.204334
5          0.131579
6          0.197034
7          0.115663
8          0.106299
9          0.353177
10         0.545865
11         0.202817
12         0.535790
13         0.102467
14         0.258511
15         0.162669
16         0.234807
17         0.085714
18         0.100000
19         0.267206
20         0.188679
21         0.145161
22         0.134034
23         0.552083
24         0.235294
25         0.303240
26         0.152203
27         0.085193
28         0.206508
30         0.154286
31         0.078750
             ...
5014853    0.085020
5014854    0.102902
5014855    0.154331
5014856    0.112000
5014857    0.126050
5014858    0.111136
5014859    0.145562
5014860    0.096774
5014861    0.147659
5014862    0.071429
5014863    0.093491
5014864    0.091087
5014865    0.171606
5014866    0.101818
5014867    0.110317
5014868    0.093715
5014869    0.171230
5014870    0.134251
5014871    0.124771
5014872    0.129577
5014873    0.153355
5014874    0.116402
5014875    0.157895
5014876    0.101831
5014877    0.086188
5014878    0.086001
5014879    0.088380
5014880    0.074468
5014881    0.253846
5014884    0.150943
Name: col2, Length: 4903387, dtype: float64

In [56]:
df=df[(df['col2'] > 0.100000) & (df['col2'] < 0.600000)]

In [57]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,time,col1,col2
count,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06,4.425231e+06
mean,1.554277e+00,1.647812e+00,2.835420e+00,1.022906e+00,3.963635e-03,1.634097e+02,1.608280e+02,1.339193e+00,1.190348e+01,3.201749e-01,4.989460e-01,1.697876e+00,2.589631e-01,2.999992e-01,1.498400e+01,1.257729e+01,6.987483e+00,2.075704e-01
std,4.970453e-01,1.282734e+00,3.301652e+00,1.927017e-01,6.283252e-02,6.755783e+01,7.178781e+01,4.857642e-01,9.671028e+00,4.227552e-01,3.522697e-02,2.270878e+00,1.299281e+00,4.940187e-04,1.211964e+01,9.785920e+00,2.598559e+00,9.006439e-02
min,1.000000e+00,0.000000e+00,1.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-5.520000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.100000e-01,3.166667e-01,3.000000e+00,1.000000e-01
25%,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.160000e+00,6.016667e+00,5.113043e+00,1.436170e-01
50%,2.000000e+00,1.000000e+00,1.700000e+00,1.000000e+00,0.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.260000e+00,0.000000e+00,3.000000e-01,1.116000e+01,9.866667e+00,6.537313e+00,1.832061e-01
75%,2.000000e+00,2.000000e+00,3.100000e+00,1.000000e+00,0.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.250000e+00,0.000000e+00,3.000000e-01,1.656000e+01,1.601667e+01,8.289474e+00,2.433673e-01
max,2.000000e+00,9.000000e+00,7.185000e+01,6.000000e+00,1.000000e+00,2.650000e+02,2.650000e+02,4.000000e+00,3.550000e+02,4.540000e+00,5.650000e+01,3.060000e+02,1.066200e+02,3.000000e-01,4.913000e+02,2.855500e+02,2.198750e+01,6.000000e-01

In [58]:
df=df.replace(np.nan,0)

In [59]:
train,test=train_test_split(df, test_size=0.28, random_state=1212)

In [60]:
#features=['VendorID','passenger_count','trip_distance','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','time','col1']
train_X=train[['VendorID','passenger_count','trip_distance','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','time','col1','col2']]
train_Y=train.total_amount
test_X=test[['VendorID','passenger_count','trip_distance','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','time','col1','col2']]
test_Y=test.total_amount

In [61]:
scaler=StandardScaler()
scaler.fit(train_X)  
train_X = scaler.transform(train_X)

test_X = scaler.transform(test_X)

In [47]:
clf=MLPRegressor()
clf.fit(train_X,train_Y)
prediction=clf.predict(test_X)
metrics.r2_score(test_Y,prediction)

0.99383483253910332

In [62]:
clf=MLPRegressor()
clf.fit(train_X,train_Y)
prediction=clf.predict(test_X)
metrics.r2_score(test_Y,prediction)

0.99829334971063366